#!/usr/bin/env python

PACKAGE='adlink_ddsbot'

import sys
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enabled",    bool_t,   0, "Whether to apply this plugin or not ",   True)
exit(gen.generate(PACKAGE, "adlink_ddsbot", "SwarmLayer"))
