<?xml version="1.0"?>

<launch>
    <arg name="use_rviz" default="false" />
    <arg name="use_dwa" default="false" />

    <!-- for amcl -->    
    <arg name="init_x" default="-0.112" />
    <arg name="init_y" default="-0.091" />
    <arg name="init_a" default="-1.563" />

    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find adlink_ddsbot)/map/demo_gmp.yaml"/>

    <!-- Boot up all sensors -->
    <include file="$(find adlink_ddsbot)/launch/Adlink_DDSBot_Sensors.launch" >
        <arg name="wheel_separation" value="0.15"/> <!-- unit: meter -->
        <arg name="wheel_radius" value="0.0335"/> <!-- unit: meter -->
    </include>

    <!-- Localization (amcl) -->
    <include file="$(find adlink_ddsbot)/launch/includes/adlink_amcl.launch.xml">
        <arg name="init_x" value="$(arg init_x)"/>
        <arg name="init_y" value="$(arg init_y)"/>
        <arg name="init_a" value="$(arg init_a)"/>
    </include>

    <!-- Navstack -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" >
        <!-- global planner -->
        <param name="NavfnROS/use_grid_path" value="true" />
        <!-- local planner -->   
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" if="$(arg use_dwa)"/>      
        <rosparam file="$(find adlink_ddsbot)/param/dwa_local_planner_params.yaml" command="load" if="$(arg use_dwa)"/>
        <rosparam file="$(find adlink_ddsbot)/param/base_local_planner_params.yaml" command="load" unless="$(arg use_dwa)" />         
        <!-- params for move_base -->
        <param name="planner_frequency" value="0.1" />
        <param name="controller_frequency" value="10.0" />
        <param name="controller_patience" value="3.0" />
        <param name="oscillation_timeout" value="10.0" />
        <param name="oscillation_distance" value="0.2" />
        <param name="clearing_rotation_allowed" value="false" />
        <!-- params for costmap layers --> 
        <rosparam file="$(find adlink_ddsbot)/param/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find adlink_ddsbot)/param/global_costmap_params.yaml" command="load"/>
        <remap from="/odom" to="/odometry/filtered"/>
    </node>

    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find adlink_ddsbot)/rviz_cfg/adlink_amcl.rviz" if="$(arg use_rviz)" />
</launch>
